:root {
    --container-width: 90%
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: orangered;
}

nav {
    height: 104px;
    /* background-color: dodgerblue; */
    width: var(--container-width);
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;    
}

section.container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 154px);
    width: 90%;
    background-color: black;
    margin: 0 auto;
    border: 2px solid black;
}

section.container div.left {
    width: 60%;
    height: 100%;
}

section.container div.right {
    width: 35%;
    height: 100%;

}

section.container div.right img {
    height: inherit;
}

section.container div.left div.top h1 {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 40px;
}

section.container div.left div.top p {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 23px;
}

section.container div.left div.bottom {
    padding-top: 150px;
}

section.container div.left div.bottom p {
font-weight: bold;
padding-left: 45px;
}

section.container div.left div.bottom span {
font-size: 25px; 
margin-left: 35px; 
}

section.container div.left {
    background: whitesmoke;
}
section.container div.right .carousel {
    width: 88%;
    height: 71.5vh;
    overflow: hidden;
    position: relative;
    background: gray;
}

section.container div.right .carousel-slide {
    width: 100%;
    height: 100vh;
    display: none;
    position: absolute;
    animation: slide 5s ease infinite;
}

section.container div.right .carousel .carousel-slide:nth-child(1){
    background: url(assets3/Picture\ 1.jpg) no-repeat center center / cover;;
    background-size: 100vh;
}

section.container div.right .carousel .carousel-slide:nth-child(2){
    background: url(assets3/Picture\ 2.jpg) no-repeat center center / cover;;
    background-size: 100vh;
}

section.container div.right .carousel .carousel-slide:nth-child(3){
    background: url(assets3/Picture\ 3.jpg) no-repeat center center / cover;;
    background-size: 100vh;
}  

@keyframes slide {
    0%, 100% {opacity: 0;}
    10%, 90% {opacity: 1;}
}

div.clear {
  clear: both;
}
